{% comment %} <table class="table table-bordered table-hover">
    <tbody>
        {% for post in post_list %}
            <tr>
                <td>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </td>    
            </tr>
        {% endfor %}
    </tbody>
</table>                    

<hr/>

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default">이전</a>
    {% endif %}
    {{ page_obj.number }} 페이지
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default">다음</a>
    {% endif %}
{% endif %}

<hr/>

<a id="page-2-btn" href="#">2페이지 로딩</a>

<a href="{% url "blog:post_new" %}" class="btn btn-primary">새 글쓰기</a> {% endcomment %}

{% for post in post_list %}
    <tr>
        <td>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </td>    
    </tr>
{% endfor %}