{% extends "blog/layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <tbody>
                    {% for post in post_list %}
                        <tr>
                            <td>
                                <a href="{{ post.get_absolute_url }}">
                                    {{ post.title }}
                                </a>
                            </td>    
                        </tr>
                    {% endfor %}
                </tbody>
            </table>                    
            
            <hr/>
            
            <a href="{% url "blog:post_new" %}" class="btn btn-primary">새 글쓰기</a>
        </div>
    </div>
</div>

{% endblock %}
