{% extends "blog/layout.html" %}
{% load bootstrap3 %}

{% block extra_body %}
    <script>
        $(function(){
            $('#check-comment').click(function(e) {
                e.preventDefault();

                var comment_id = $('#comment-list .comment:first').data('comment-id');
                
                $.get('{% url "blog:comment_list" post.pk %}', {latest_comment_id: comment_id})
                    .done(function(html){
                        $('#comment-list').prepend(html);
                    })
                    .fail(function(){
                        alert('failed :' + error);    
                    });
                console.log(comment_id)
            });

            $.get('{% url "blog:comment_list" post.pk %}')
                .done(function(html){
                    $('#comment-list').html(html);
                })
                .fail(function(xhr, textStatus, error){
                    alert('failed :' + error);
                });
        });
    </script>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ post.title }}</h1>
            
            {{ post.content | linebreaks }}
            
            <hr/>
            
            
            
            <a href="{% url "blog:comment_new" post.pk %}" 
                class="modal-form-btn btn btn-primary btn-block">댓글쓰기</a>

            <a id="check-comment" class="btn btn-primary btn-block">
                새 댓글 체크
            </a>
            
            <div id="comment-list"></div>
            
            <hr/>

            <a href="{% url "blog:index" %}" class="btn btn-primary">목록</a>
            <a href="{% url "blog:post_edit" post.pk %}" class="btn btn-primary">수정</a>
            <a href="{% url "blog:post_delete" post.pk %}" class="btn btn-danger">삭제</a> 
        </div>
    </div>
</div>



{% endblock %}