{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskDjango Blog</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" />
    {% block extra_head %}{% endblock %} <!--blog앱의 static-->
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AskDjango</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href= {% url "blog:index" %} >Blog</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li><a href="{% url "login" %}">로그인</a></li>
                        <li><a href="{% url "signup" %}">회원가입</a></li>
                    {% else %}
                        <li><a href="{% url "profile" %}">프로필</a></li>
                        <li><a href="" class="">로그아웃</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div class="container">
        <hr/>
        <footer>
            <p>2017 &copy; <a href="https://nomade.kr" target="blank">nomade.kr</a></p>
        </footer>
    </div>

    <!--<script src="//code.jquery.com/jquery-2.2.4.min.js"></script> 밑에 bower설치로 cdn 필요없음-->
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> bower설치함-->
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "jquery.csrf.js" %}"></script> <!-- jQuery Ajax에서의 CSRF Token 대처 -->
    <script src="{% static "underscore/underscore-min.js" %}"></script> <!--postdetail 댓글 Underscorejs Template으로 변경-->
    <script src="{% static "jquery-form/dist/jquery.form.min.js" %}"></script> <!--jQuery의 serialize함수는 urlencoded방식으로 form data를 직렬화하기
        때문에, 파일전송은 불가합니다 따라서 파일업로드 라이브러리 사용-->
    {% block extra_body %}
    {% endblock %}
</body>
</html>